.container{
	margin-bottom: 30px;
	color: #545454;
}
.container img{
	border-radius: 4px;
	width: 200px;
	height: 100%;
}
.container .text{
	font-size: 30px;
	font-weight: bold;			
	color: #313131;
}
a:link, a:visited, a:active{
	color: #B2B0B0;
	text-decoration: none;
}
a:hover{
	color: #979797;
}