@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@mixin hidden-content() {
	border: none;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}
body{
	margin: 0;
	min-width: 1488px;
	font-family: 'Open Sans';
}
.navbar{
	height: 80px;
	background-color: #38C4CA;
}
.schoter{
	font-size: 32pt;
	color: #FFFFFF;
	line-height: 80px;
	padding-left: 48px;
}
.schoter .text{
	float: left; 
	margin: 0 38px 0 0; 
	font-family: 'Helvetica';
}
.schoter .bar{
	float: left; 
	margin: 0 26px 0 0; 
	font-size: 26px;
}
.search{
	border-radius: 4px;
	font-size: 20pt;
	width: 788px;
	color: #9B9B9B;
	height: 50px;
	border: solid #979797;
	padding-left: 12px;
	margin-top: 14px;
	margin-right: 156px;
}
.login{
	float: left;
	line-height: 80px;
}
.login .text{
	width: 68px; 
	color: #9B9B9B; 
	font-size: 20pt; 
	float: left;
}
.login img{
	width: 40px; 
	height: 40px; 
	border-radius: 50%; 
	float: left; 
	margin: 20px 26px 0 0;
}
.login .bell{
	float: left; 
	margin: 0 65px 0 0; 
	font-size: 26px;
}
.menu{
	margin-top: 18px;
	margin-left: 48px;
	color: #B2B0B0;
	font-size: 20pt;
}
.header{
	margin-top: 24px;
	font-size: 36pt;
	color: #313131;
	font-weight: bold;
	font-family: 'Helvetica';
	margin-left: 264px;
}
.content{
	margin-top: 34px;
	width: 943px;
	font-size: 24pt;
	color: #545454;
	margin-left: 264px;
}
.bubble{
	margin-top: 44px;
	margin-left: 264px;
	font-size: 20pt;
	width: 943px;
}
.dialog{
	text-align: center;
	line-height: 60px;
	position: fixed;
	font-size: 25px;
	color: #FFFFFF;
	bottom: 40px;
	right: 65px;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	cursor: pointer;
	background-color: #178FDD;
	border: solid #0B5789;
}